@charset "UTF-8";
@font-face {
    font-family: "squidsplash";
    src: url("fonts/squidsplash.eot");
    src: url("fonts/squidsplash.eot?#iefix") format("embedded-opentype"), url("fonts/squidsplash.woff") format("woff"), url("fonts/squidsplash.ttf") format("truetype"), url("fonts/squidsplash.svg#squidsplash") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "squidsplash" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "squidsplash" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-music-on:before {
    content: "\4d";
}

.icon-music-off:before {
    content: "\6d";
}

.icon-tick:before {
    content: "\54";
}

.icon-cross:before {
    content: "\58";
}

@import url(https://unpkg.com/papercss/dist/paper.min.css);
html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #EFF9FF;
}

body {
    color: #333;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
    color: rgb(0, 100, 200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 80, 160);
}

label {
    display: block;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: white !important;
    display: inline !important;
}

input:disabled {
    color: #ccc;
}

input[type="range"] {
    height: 0;
}

button {
    background-color: #f4f4f4;
    outline: none;
}

button:active {
    background-color: #ddd;
}

button:focus {
    border-color: #666;
}

.marginless {
    margin: 0;
}

.question {
    font-size: 2rem;
    font-weight: bold;
}

.form-group .paper-check input[type="checkbox"] + span::before, .form-group .paper-radio input[type="checkbox"] + span::before {
    background-color: white !important;
}

.counter-top-right {
    position: absolute;
    right: 4rem;
    top: calc(50% - 50vh);
}

ul, ol {
    list-style-type: none;
}