<script>
  import Player from "./Player.svelte";
  import { players } from "./state.js";
  import { createEventDispatcher } from "svelte";

  const dispatch = createEventDispatcher();

  function click(event) {
    if (!iVoted) dispatch("select", answer);
  }

  export let answer, showVotes, iVoted;
</script>

<style>
  .votes {
    position: relative;
  }

  .votes > div {
    position: absolute;
    z-index: 20;
    right: -0.5rem;
    top: -1.5rem;
  }

  .answer {
    cursor: pointer;
    border: 1px solid grey;
    margin: 1rem;
    padding: 0.5rem;
  }

  button {
    font-size: 2rem;
    position: relative;
  }

  button.disabled {
    opacity: 0.8;
    box-shadow: none;
    transform: none;
  }

  .disabled:before {
    content: "X";
    font-family: "squidsplash";
    position: absolute;
    color: red;
    top: -0.5em;
    right: -0.3em;
  }

  .my-vote:before {
    content: "T";
    color: green;
  }
</style>

<div>
  <div class="votes">
    <div class="voters">
      {#if showVotes}
        {#each answer[2] as vote, i}
          <Player player={$players[vote]} size="small" />
        {/each}
      {/if}
    </div>
  </div>
  <button
    on:click={click}
    class="answer {iVoted ? 'disabled' : ''}
    {iVoted && iVoted[1] == answer[0] ? 'my-vote' : ''}">
    {answer[1]}
  </button>
</div>
