<script>
  import {
    state,
    player,
    players,
    clientcode,
    servercode,
    gamecode,
    isServer,
    round,
    playerKeys,
    numPlayers,
    playersCanVoteOnOwnAnswers,
    resetAllState,
resetGame
  } from "./state.js";
  import "./server.js";
  import "./client.js";
  import Logo from "./Logo.svelte";
  import Welcome from "./Welcome.svelte";
  import Join from "./Join.svelte";
  import Joining from "./Joining.svelte";
  import Question from "./Question.svelte";
  import Waiting from "./Waiting.svelte";
  import Vote from "./Vote.svelte";
   import Voted from "./Voted.svelte";
  import Scores from "./Scores.svelte";
  import Gameover from "./Gameover.svelte";
  import Music from "./Music.svelte";

  let view = Welcome;
  resetAllState()
  let stateData = null;

  function generateCode() {
    const chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ";
    return chars[Math.floor(Math.random() * chars.length)] + chars[Math.floor(Math.random() * chars.length)] + chars[Math.floor(Math.random() * chars.length)] + chars[Math.floor(Math.random() * chars.length)];
  }

  state.subscribe(function(state) {
    console.log("state is:", state);
    switch (state) {
      case "back":
        //resetAllState();
      //stateData = null;
        //view = Welcome;
        location.reload();
        break;
      case "start":
        $servercode = generateCode();
        view = Join;
        break;
      case "join":
        view = Join;
        break;
      case "joining":
        $clientcode = stateData.clientcode;
        $player = { name: stateData.player, score: 0 };
        console.log("num players: ", $numPlayers, $playerKeys);
        view = Joining;
        break;
        case "again":
          console.log('resetting game');
          resetGame();
          $round = 0;
          console.log('reset game',$round)
      case "question":
        if ($numPlayers < 3) $playersCanVoteOnOwnAnswers = true;
        $round += 1;
        view = Question;
        break;
      case "waiting":
        view = Waiting;
        break;
      case "vote":
        view = Vote;
        break;
        case "voted":
        view = Voted;
        break;
      case "scores":
        view = Scores;
        break;
      case "gameover":
        view = Gameover;
        break;
      default:
        console.log("no hanlder for", state);
        resetAllState();
       stateData = null;
        view = Welcome;
    }
  });

  function button(event) {
    stateData = event.detail.attributes;
    $state = event.detail.text;
  }

  function hello() {
    alert("hello");
  }
</script>

<style>
.wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
</style>

<link rel="stylesheet" href="https://unpkg.com/papercss/dist/paper.min.css" />
<link rel="stylesheet" href="/icons.css" />

<Logo/>


<div class="wrapper">
<div class="center">
<svelte:component this={view} on:button={button} />
</div>
</div>

<Music/>
