<script>
  import BlobSmile from "./BlobSmile.svelte";
  import BlobFrown from "./BlobFrown.svelte";
  import { onMount } from "svelte";

const breathvar = Math.random() + Math.random();
  let mouth;
  let anim;
  const frown = "M30 80 C 40 75, 60 75, 70 80";
  const smile = "M30 75 C 40 80, 60 80, 70 75";

  $: if (anim) {
    if (expression == "smile") {
      anim.setAttribute("to", smile);
    } else {
      anim.setAttribute("to", frown);
    }
    anim.beginElement();
  }

  onMount(async () => {
    anim.addEventListener("beginEvent", function() {
      mouth.setAttribute("d", expression == "smile" ? smile : frown);
    });

    anim.addEventListener("endEvent", function() {
      anim.setAttribute("from", mouth.getAttribute("d"));
    });
  });
  export let id,
    color = "#ffffff",
    expression = "smile";
</script>

<style>
  .blob {
    width: 100px;
    height: 100px;
  }
</style>

<svg viewBox="0 0 100 100" style="width: 10em; height: 10em;">
  <defs>
    <radialGradient {id} cx="30%" cy="30%" r="120%" fx="60%" fy="50%">
      <stop offset="40%" style="stop-color:{color};stop-opacity:1" />
      <stop offset="90%" style="stop-color:rgb(0,0,0);stop-opacity:0.5" />
    </radialGradient>
  </defs>
  <g class="body">
    <path
      stroke="black"
      d="M30 90 C 10 90, 20 50, 50 50 C 80 50, 90 90, 70 90 Z"
      fill="url(#{id})">
      <animate
        id="breathe"
        begin="{breathvar}s"
        fill="remove"
        attributeName="d"
        dur="{1 + breathvar}s"
        repeatCount="indefinite"
        values="M30 90 C 10 90, 20 50, 50 50 C 80 50, 90 90, 70 90 Z; M30 90 C 8 87, 20 50, 50 50 C 80 50, 92 87, 70 90 Z; M30 90 C 10 90, 20 50, 50 50 C 80 50, 90 90, 70 90 Z"
        keyTimes="0;0.5;1" />
    </path>
  </g>
  <g class="face">
    <g class="eyes">
      <circle fill="black" cx="48" cy="70" r="1" />
      <circle fill="black" cx="52" cy="70" r="1" />
    </g>
    <g class="mouth">
      <path
        bind:this={mouth}
        id="mouth"
        class="smile"
        stroke="black"
        fill="transparent"
        d={smile}>
        <animate
          bind:this={anim}
          id="sad-to-happy"
          begin="indefinite"
          fill="remove"
          attributeName="d"
          dur="2s"
          from={smile}
          to={frown} />
      </path>
    </g>
  </g>
</svg>
