<script>
	import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();

	function click() {
		dispatch('button', {
            text: action,
            attributes: attributes
		});
    }
    
    export let action;
    export let attributes = {};
</script>

<button on:click={click}>
	<slot></slot>
</button>