<script>
  import { onMount, onDestroy } from "svelte";
  import { createEventDispatcher } from "svelte";

  const dispatch = createEventDispatcher();

  let count, int

  onMount(async () => {
    count = time;
    int = setInterval(function() {
      const wasOne = count ===1;
      if (count > 0)  {
        count = count - 1;
      }
      if ((count == 0) && (wasOne)) {
        setTimeout(() => {
          if (count === 0) dispatch("timesUp");
        }, 1000)
         
      }
    }, 1000);
  });

  onDestroy(() => {
    clearInterval(int);
  }
  );

  export function reset() {
    count = time;
  }


  export let time,
    size = "normal";
</script>

<style>
  .small {
    font-size: 0.5rem;
  }

  @keyframes svg--animation {
    0% {
      transform: rotateZ(-90deg);
    }
    100% {
      transform: rotateZ(270deg);
    }
  }

  svg {
    width: 5em;
    height: 5em;
        animation: 2s linear infinite svg--animation;
  }

  @keyframes circle--animation {
    0% {
      stroke-dashoffset: 13;
      stroke: #33cc33;
    }

    100% {
      stroke-dashoffset: 280;
      stroke: #ff0000;
    }
  }

  .path {
    fill: transparent;
    stroke: rgba(0,0,0,0.1);
  }

  .timer {
    fill: transparent;
    stroke: #33cc33;
    stroke-linecap: round;
    transform-origin: 50% 50%;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: circle--animation;
  }

  div {
    position: relative;
  }

  p {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5em;
    top: 0.55em;
  }
</style>

<div class={size}>
  <p>{count}</p>
  <svg viewBox="0 0 104 104" xmlns="http://www.w3.org/2000/svg">
    <circle class="path" cx="52" cy="52" r="45" stroke-width="12" />
    <circle
      class="timer"
      cx="52"
      cy="52"
      r="45"
      stroke-width="10"
      stroke-dasharray="283"
      style="animation-duration: {time}s;" />
  </svg>
</div>
