<script>
  import { players, playerKeys } from "./state.js";
  import Player from "./Player.svelte";
    import Button from "./Button.svelte";

  const topScore = Math.max(
    ...$playerKeys.map(function(k) {
      return $players[k].score;
    })
  );
  const winningKeys = $playerKeys.filter(function(k) {
    return $players[k].score == topScore;
  });
  const winners = winningKeys.map(function(k) {
      return $players[k];
  })
</script>

<h1>Congratulations</h1>
<ul>
{#each winners as winner}
  <li>
    <Player player={winner} />
  </li>
{/each}
</ul>
{#if winners.length < 2}
  <p>For taking the Win</p>
{:else}
  <p>First Equal!</p>
{/if}

<Button action="again" on:button>Play again</Button>
<Button action="back" on:button>Start Over</Button>

<style>
  ul {
    display: flex;
    justify-content: center;
  }
ul li:before {
  content: none;
}
</style>