<script>
  import {
    gamecode,
    isServer,
    players,
    playerKeys,
    numPlayers
  } from "./state.js";
  import Button from "./Button.svelte";
  import Player from "./Player.svelte";
    import Sound from "./Sound.svelte";
</script>

<style>
  .players {
    display: flex;
    align-items: center;
    justify-content: center;
  }

</style>

<p class="marginless">Game code</p>
<h1 class="marginless">{$gamecode}</h1>

{#if $numPlayers > 0}
  <p class="marginless">
    {$numPlayers} player{$numPlayers > 1 ? 's' : ''} joined
  </p>
  <div class="players">
    {#each $playerKeys as key}
      <Player player={$players[key]} />
    {/each}
  </div>
{:else}
  <p>Connecting to server</p>
{/if}

{#if $isServer}
  <p>Click Begin when all your friends have joined.</p>
  <Button action="question" on:button>Begin</Button>
{:else}
  <p>Your host will begin the game when all players have joined.</p>
{/if}
<Button action="back" on:button>Back</Button>
