<script>
  import { servercode, isServer, numrounds, playersCanVoteOnOwnAnswers } from "./state.js";
  import Button from "./Button.svelte";


  let pname = "",
    ccode = "",
    address = document.location;
</script>

{#if $isServer}
  <ol>
    <li>Get your friends to visit {address}</li>
    <li>click Join Game</li>
    <li>enter this game code:</li>
  </ol>
  <h1>{$servercode}</h1>
{:else}
  <p>
    <label>Game code</label>
    <input type="text" bind:value={ccode} />
  </p>
{/if}

<p>
  <label>Enter your player name</label>
  <input type="text" bind:value={pname} />
</p>

{#if $isServer}
  <p>
    <label>Choose a number of rounds</label>
    <input type="text" bind:value={$numrounds} />
  </p>
  <p class="form-group">
    <label class="paper-check">
    <input type="checkbox" bind:checked={$playersCanVoteOnOwnAnswers} />
    <span>    Let players vote on all answers (including their own)</span>
  </label>
  </p>
{/if}

<Button
  action="joining"
  attributes={{ clientcode: ccode, player: pname }}
  on:button>
  Join
</Button>
<Button action="back" on:button>Back</Button>

<style>
  ol {
    list-style-position: inside;
  }
</style>