<style>
div {
    position: absolute;
    left: 1rem;
    top: 1rem;
    text-align: center;
}

h2 {margin: 0; font-size: 2rem;}
  img {
    vertical-align: middle;
    width: 160px;
    border: none;
    display: inline;
  }
.grey {color: #999;}
  .green {color: #2D8239}
  .blue {color: #006EBE}
  .tagline {font-size: 0.8rem; margin: 0; font-style: italic }
  .tagline:before { content: open-quote; }
.tagline:after  { content: close-quote; }
</style>

<div id="logo">
 <img src="/sslogo2.png"/>
<h2>
  <span class="grey">S</span><span class="green">QUI</span><span class="grey">DS</span><span class="green">P</span><span class="blue">LASH</span><br/>
</h2>
<p class="tagline">Not exactly Quiplash</p>
</div>