<script>

function toggleMusic(event) {
    const audio = document.getElementById('music');
    if (event.target.checked) {
        if (audio.src == '') { audio.src = './bensound-funnysong.mp3'} // only download song if someone does want music on
        audio.play();
    } else {
        audio.pause();
    }
}
</script>

<style>

div {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    text-align: center;
    font-size: 3rem;
}

p {
    font-size: 0.7rem;
    margin: 0;
}

input[type=checkbox] {display: none !important;}

input[type=checkbox]+label {
    font-family: 'squidsplash';
        opacity: 0.8;
        cursor: pointer;
}

input[type=checkbox]+label::before {
    content: "\6d";
}

input[type=checkbox]:checked+label::before {
    content: '\4d';
}
</style>

<div>
<input type="checkbox" id="music-control" on:click={toggleMusic}><label for="music-control"></label>
<audio id="music" />
<p>Music: <a href="https://www.bensound.com">https://www.bensound.com</a></p>
</div>