<script>
import Blob from "./Blob.svelte"
export let player, size = 'normal';
</script>

<style>
.normal {font-size: 1rem}
.small {font-size: 0.3rem; display: inline-block;}
p {margin: 0; font-size: 200%; letter-spacing: 0.1em; margin-top: -0.5em; font-weight: bold; color: black;}
span {padding: 0.1em 0.4em}
div {text-align: center;}
</style>

<div class="{size}">
<Blob id="{player.name.replace(/\W/g,'-')}" color="{player.color}"/>
<p><span>{player.name}</span></p>
</div>