<script>
  import { onMount } from "svelte";
  import { round, question, answer,timeoutAnswer } from "./state.js";
  import Button from "./Button.svelte";
  import Sound from "./Sound.svelte";
  import Countdown from "./Countdown.svelte";

  let timer;

  let ans = "";

  function submitAnswer() {
    console.log('anser submitted')
    $answer = ans || timeoutAnswer;
    ans = "";
    $answer = null
    timer.reset();
  }
</script>

  <div class="counter-top-right">
<Countdown time="60" on:timesUp={submitAnswer} bind:this={timer} />
</div>

<h1>Round {$round}</h1>

<p class="question">{$question}</p>

<p>
  <label>Your answer</label>
  <textarea bind:value={ans} />
</p>

<button on:click={submitAnswer}>Submit</button>
<Button action="back" on:button>Back</Button>
<Sound effect="splash" play="0" />


<style>
  textarea {
    width: 100%;
    max-width: 580px;
    height: 6rem;
  }
</style>
