<script>
  import {
    players,
    playerKeys,
    isServer,
    round,
    numrounds,
    state
  } from "./state.js";

  import Player from "./Player.svelte";
  import Score from "./Score.svelte";
  import Countdown from "./Countdown.svelte";
  import Button from "./Button.svelte";

  const statements = [
    `Let's have a look at the ol' scoreboard`,
    `Here's how it's shaping up after round ${$round}`
  ]

  function getStatement() {
    return statements[Math.floor(Math.random() * statements.length)];
  }

  function nextRound() {
    if ($round < $numrounds) {
      $state = "question";
    } else {
      $state = "gameover";
    }
  }
</script>



<style>
  .scores {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .score {
    margin: 1rem;
    position: relative;
  }
</style>

<div class="counter-top-right">
<Countdown time="20" on:timesUp={nextRound} />
</div>

<p class="question">{getStatement()}</p>

<div class="scores">
  {#each $playerKeys as key}
    <div class="score">
      <Score score={$players[key].score} />
      <Player player={$players[key]} />
    </div>
  {/each}
</div>


{#if false && $isServer} <!-- this doesn't work as currently doesn't forward clients -->
<Button on:button={nextRound}>Continue</Button>
{/if}