<script>
  export let effect,
    play = 0; // update play to have the sound replay
  import { afterUpdate } from "svelte";

  afterUpdate(() => {
    if (play > 0) {
    const el = document.getElementById(effect);
    el.currentTime = 0;
    el.play();
    }
  });
</script>

<audio id={effect} src="./{effect}.mp3" />
