<script>
  import { onMount } from "svelte";
  import Countdown from "./Countdown.svelte";
  import {
    ballot,
    vote,
    allVoted,
    myPeerId,
    playersCanVoteOnOwnAnswers,
    timeoutAnswer
  } from "./state.js";

  ballot.subscribe(function (b) {
    console.log("ballot changed", b);
  });

  function answerSelected(answer) {
    const votedFor = answer;
    $vote = [$ballot[0], votedFor[0]];
    console.log("Vote is: ", $vote);
    // once I've vote show my vote and any incoming votes from server.
    // server could broadcast my vote out again
    // or broadcase my vote and any others.
    // then when vote received would also need to broadcast to others that have answered
    // need to allow for questions I can't vote on - should see other votes immediately.
    // but only show other votes once I've voted.
    // or do we just wait for everyone then animate???
    // could send null vote if I'm not allow to vote or server could just choose to ignore.
    // or do we just let people vote on their own in case they actually prefer someone elses
    // if we want to have a timeout on votes however we need another option to all voted
    // maybe add a vote to the ballot record
  }

  function nullVote() {
    console.log("Null vote made");
    $vote = [$ballot[0], null];
  }

  $: question = $ballot[1];
  $: answers = $ballot[2];

  $: {
    if (!$playersCanVoteOnOwnAnswers)
      $vote = $ballot[2].find((answer) => answer[0] === $myPeerId)
        ? [$ballot[0], null]
        : null; // this line stops people voting on rounds they are in by casting a null vote.
  }
  //timer should force this too.
</script>

<div class="counter-top-right">
  <Countdown time="15" on:timesUp={nullVote} />
  </div>

<p class="question">{question}</p>
<div class="answers">
  {#each answers as answer, i}
    <button
      on:click={(e) => answerSelected(answer)}
      class="answer {$vote ? 'disabled' : ''}
    {$vote && $vote[1] == answer[0] ? 'my-vote' : ''}"
    >
      <span class="{answer[1] === timeoutAnswer ? 'noanswer' : ''}">{answer[1]}</span>
    </button>
  {/each}
</div>
{#if $vote}
  <p>Now we're just waiting for everyone else to vote</p>
{:else}
  <p>Click on your favourite answer</p>
{/if}



<style>
  .answers {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .noanswer {
    font-style: italic;
    font-size: 1rem;
    color: #999;
  }

  button {
    font-size: 2rem;
    position: relative;
    margin: 0.5rem 2rem;
    margin-top: 0rem;
  }

  button.disabled {
    opacity: 0.8;
    box-shadow: none;
    transform: none;
  }

  .disabled:before {
    content: "X";
    font-family: "squidsplash";
    position: absolute;
    color: red;
    top: -0.5em;
    right: -0.3em;
  }

  .my-vote:before {
    content: "T";
    color: green;
  }
</style>
