<script>
  import { onMount, onDestroy } from "svelte";
  import {
    ballot,
    vote,
    allVoted,
    round,
    players,
    numPlayers,
    serverCommand,
    playersCanVoteOnOwnAnswers,
  } from "./state.js";
  import Player from "./Player.svelte";
  import Sound from "./Sound.svelte";

  $: question = $ballot[1];
  $: answers = $ballot[2].map(function (a) {
    let el = JSON.parse(JSON.stringify(a)); // deep clone array so we dont change ballot
    el.push([]);
    el.push(0);
    el.push(false);
    return el;
  });

  const displayDelay = 1000,
    finishDelay = 3000; // finished delay must be greater than displayDelay otherwise finish will fire before shutout notification

  let sound = 0,
    bonus = 0;

  function voteScore() {
    return 20 * $round; // add round bonus in here
  }

  function shutoutBonus() {
    return 100;
  }

  const sleep = (t) => new Promise((s) => setTimeout(s, t));

  onMount(async () => {
    // answers is an array of all users answers to the question
    // each individual answer is an array with 6 elements:
    // 0: The peer id of the answering user
    // 1: The answer
    // 2: An array of peer ids of the players who voted for this answer
    // 3: An array of peer ids of votes that have been counted for this answer (moved from 2)
    // 4: The totaled score for this answer once votes have been counted
    // 5: Boolean for whether the answer was a shutout (all players voted for this answer)
    console.log("ansers are: ", answers);
    const shutoutAt = $playersCanVoteOnOwnAnswers
      ? $numPlayers
      : $numPlayers - 2;

    for (var i = 0; i < answers.length; i++) {
      const answer = answers[i];
      const votes = answer[2];
      for (var j = votes.length; j > 0; j--) {
        const vote = votes.shift();
        await sleep(displayDelay);
        sound += 1;
        answer[3] =[...answer[3], vote];
        answer[4] += voteScore();
        answers = [...answers];
      }
      if (answer[3].length >= shutoutAt) {
        await sleep(displayDelay);
        answer[4] += shutoutBonus();
        bonus += 1;
        answer[5] = true;
        answers = [...answers];
      }
    }
    await sleep(finishDelay);
    $ballot[2].forEach(function (a, i) {
        a.push(answers[i][4]);
      });
      $serverCommand = { command: "tally", data: $ballot[2] };
  });

  /*
  onMount(async () => {
    let int = setInterval(function () {
      sound += 1;
      let repeat = false;
      // answers is an array of all users answers to the question
      // each individual answer is an array with 6 elements:
      // 0: The peer id of the answering user
      // 1: The answer
      // 2: An array of peer ids of the players who voted for this answer
      // 3: An array of peer ids of votes that have been counted for this answer (moved from 2)
      // 4: The totaled score for this answer once votes have been counted
      // 5: Boolean for whether the answer was a shutout (all players voted for this answer)
      console.log("ansers are: ", answers);
      const shutoutAt = $playersCanVoteOnOwnAnswers ? $numPlayers: $numPlayers - 2;

      answers = answers.map(function (a) {
        if (a[2].length > 0) {
          a[3].push(a[2].shift());
          a[4] += voteScore();
        }
        if (a[2].length > 0) repeat = true;
        if (a[3].length >= shutoutAt) {
          // its a shutout
          let that = a;
          setTimeout(function () {
            that[4] += shutoutBonus();
            that[5] = true;
            bonus += 1;
            answers = [...answers]; // force update?
            finishUp();
          }, displayDelay);
        }
        return a;
      });
      answers = answers;
      if (!repeat) {
        clearInterval(int);
        finishUp();
      }
    }, displayDelay);
  });

  */
</script>

<p>Everyone's done - let's take a look</p>
<p class="question">{question}</p>
<div class="answers">
  {#each answers as answer, i}
    <div class="answer">
      <div class="votes">
        {#if answer[5]}
          <div class="vote-count badge secondary squidsplash">SquidSplash!</div>
        {:else}
          <div class="vote-count badge">
            {answer[3].length}
          </div>
        {/if}
        <div class="voters">
          {#each answer[3] as vote, x}
            <Player player={$players[vote]} size="small" />
          {/each}
        </div>
      </div>
      <button class="disabled speech {i % 2 == 0 ? 'left' : 'right'}">
        {answer[1]}
      </button>
      <div class="tally">
        <div class="badge">+{answer[4]}</div>
      </div>
      <Player player={$players[answer[0]]} />
    </div>
  {/each}
</div>

<Sound effect="horn" play={sound} />
<Sound effect="splash" play={bonus} />

<style>
  .answers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .answer {
    margin: 1rem;
  }

  .votes {
    position: relative;
  }

  .vote-count {
    position: absolute;
    right: -0.4em;
    top: -0.8em;
    z-index: 30;
  }

  .squidsplash {
    transform: rotate(6deg);
    font-size: 1.5rem;
  }

  .voters {
    position: absolute;
    z-index: 20;
    top: -2.4rem;
    left: 50%;
    transform: translateX(-50%);
display: flex;
  }

  button {
    font-size: 2rem;
    position: relative;
    min-width: 5em;
  }

  button.disabled {
    opacity: 0.8;
    box-shadow: none;
    transform: none;
  }

  button.speech:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    top: 1.9em;
    border: 25px solid;
    border-color: #666 transparent transparent #666;
    border-width: 3rem 1rem 2.2rem 1rem;
  }

  button.speech.right:before {
    right: calc(50% - 4rem);
  }

  button.speech.left:before {
    border-color: #666 #666 transparent transparent;
    left: calc(50% - 4rem);
  }

  button.speech:after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    top: 1.9em;
    border: 15px solid;
    border-color: #fff transparent transparent #fff;
    border-width: 2.9rem 0.9rem 1.9rem 0.85rem;
  }

  button.speech.right:after {
    right: calc(50% - 3.85rem);
  }

  button.speech.left:after {
    border-color: #fff #fff transparent transparent;
    left: calc(50% - 3.85rem);
  }

  .tally {
    position: relative;
  }

  .tally .badge {
    position: absolute;
    top: 4em;
    transform: translateX(-50%);
  }
</style>
